<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
    <title>Users</title>
    
  </head>
  
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

#table2 {
  border: 0px solid #dddddd;
}

.btn{
  font-size: 20px; 
  }
</style>
  <body>
    <h1>Application User List</h1>
    <table>
    <thead>
    	<tr>
    		<th>ID</th> <th>Name</th><th>Role</th><th>Hobby</th><th>Arbeitgeber</th><th>Klasse</th>
		</tr>
	</thead>
		<tr th:each="user : ${users}">
		<script language="javascript" type="text/javascript">
		var number=1;	
		for (i = 0; i < 10; i++){
			if($user.id==i){
				number=i;
			}
				
			}
		</script>
			<td th:text="${user.id}">user_id</td>
			<td th:text="${user.email}">user_name</td>
			<td> 
				<table>
    				<tr th:each="role : ${user.roles}">
		  				<td id="table2" th:text="${role.role}">role_role</td>
					</tr>
    			</table>
    		</td>
    		<td th:text="${user.hobby}">user_hobby</td>
    		<td> 
				<table>
    				<tr th:each="work : ${user.works}">
		  				<td id="table2" th:text="${work.work}">work_work</td>
					</tr>
    			</table>
    		</td>	
    		<td> 
				<table>
    				<tr th:each="course : ${user.courses}">
		  				<td id="table2" th:text="${course.course}">course_course</td>
					</tr>
    			</table>
    		</td>	
    		<td>  
    			<a th:href="@{'/deleteUser/'+${user.id}}">    		
    				<button class="btn">
    					<i class="fa fa-trash"></i>
    				</button>  
				</a>
    		</td>			
		</tr>
		
    </table>
    
    
    
    <form th:action="@{/addNewUser}" method="post">
					
		<div class="row">
			<div class="col-sm-7 col-md-8">
				<p><input type="submit" value="Add User"/></p>
		  </div>
        </div>
	</form>
   
   

  </body>
</html>